Package: codes.var.tweak.defaultscheme
Name: DefaultScheme
Version: 0.1.0
Architecture: iphoneos-arm64
Description: Force preferred app for duplicated URL schemes and Universal Links.
Maintainer: mukeran
Author: mukeran
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate
